body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #022c43;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}
.divider{
  height: 100px;
  width: 100%;
}
/* Change the color of all dots */
.slick-dots li button:before {
  font-size: 12px; /* Adjust size */
  color: gray !important; /* Inactive dot color */
  opacity: 1; /* Ensure visibility */
}

/* Change the active dot color */
.slick-dots li.slick-active button:before {
  color: #ffd700 !important; /* Active dot color */
}

/* Optional: Add hover effect on dots */
.slick-dots li:hover button:before {
  color: darkgray;
}
/* Customize the dots container */
.slick-dots {
  bottom: 20px; /* Adjust position relative to the carousel */
  display: flex !important;
  justify-content: center; /* Center align */
}

/* Customize the dot spacing */
.slick-dots li {
  margin: 0 8px; /* Adjust spacing between dots */
}

/* Change the size of the dots */
.slick-dots li button:before {
  font-size: 12px !important; /* Make dots larger */
}


